# Server
PORT=3000
NODE_ENV=development

# Database (Neon PostgreSQL) (you can use connection to my db below)
DATABASE_URL=postgresql://neondb_owner:npg_Ub1wCvOk6yhZ@ep-spring-fire-a4iolod5-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require


# JWT Configuration
JWT_SECRET=rauchRodrigues
JWT_EXPIRES_IN=12h

# Redis (for BullMQ) - Note: Requires Redis v5.0.0 or higher
# Redis Configuration (for BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# File Upload Configuration
MAX_FILE_SIZE=5242880  # 5MB in bytes